<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
    <h1 style="text-align: center;"><span style="text-decoration: underline; background-color: #ffff00; color: #00ffff;"><strong><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"></span></span></strong><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"> {{flatpage.title}}</span></span></span></h1>
    <p><span style="text-decoration: underline; background-color: #ffff00; color: #00ffff;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><img style="display: block; margin-left: auto; margin-right: auto;" src="https://klike.net/uploads/posts/2019-11/1572611130_1.jpg" alt="" width="800" height="759" /></span></span></span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <hr />
    <h3 style="text-align: center;"><span style="vertical-align: inherit; background-color: #00ffff; color: #3366ff;"><span style="vertical-align: inherit;">Наши файлы:</span></span></h3>
    <blockquote>
    <h3 style="text-align: center;"><span style="text-decoration: line-through; background-color: #ff0000;"><span style="text-decoration: underline;"><span style="vertical-align: inherit; color: #ffff00;"><span style="vertical-align: inherit;">Необходимые файлы ещё не добавлены</span></span></span></span></h3>
    <p style="text-align: center;"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"><img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-tongue-out.gif" alt="tongue-out" /></span></span></p>
    </blockquote>
</body>
</html>